

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>
    body{
   background-color:white;
   		    counter-reset: Serial;

   }

    nav,.modal-header,.btn{
    background-color:#00cca3;
    }

    .navbar-brand,.nav-link{
    color:white;
    }
    table{
    width:60%;
    margin:auto;
    }

    tr td:first-child:before
		{
		  counter-increment: Serial;
		  content: counter(Serial);
		}
    .action{
    text-decoration:none;

</style>
</head>
<body>





<!---------------------navbar----------------------->

<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" style="margin-left:20px">Pharmacy Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="medicineDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Medicine Management
        </a>
        <div class="dropdown-menu" aria-labelledby="medicineDropdown">
          <a class="dropdown-item" data-bs-toggle="modal"  data-bs-target="#ModalForm" style="cursor:pointer">Add Medicine</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sales Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>





<!--------------------------modal of edit medicine-=------------------>


        <!-- edit Form -->
        <form action="{% url 'editmedicine' id=data.id %}" method="post">
          {% csrf_token %}

          <div class="modal-body">
            <div class="mb-3">
                <label for="Username">Medicine<span class="text-danger">*</span></label>
                <input type="text" name="newmedicinename" class="form-control" id="Username" value="{{ data.medicinename }}">
            </div>

               <div class="modal-body">
            <div class="mb-3">
                <label for="Username">Medicine Type<span class="text-danger">*</span></label>
                <input type="text" name="newmedicinetype" class="form-control" id="Username" value="{{ data.medicinetype }}">
            </div>


                 <div class="modal-body">
            <div class="mb-3">
                <label for="Username">Unit Price<span class="text-danger">*</span></label>
                <input type="text" name="newmedicineprice" class="form-control" id="Username" value="{{ data.medicineprice }}">
            </div>

                      <div class="modal-body">
            <div class="mb-3">
                <label for="Username">Medicine Stock<span class="text-danger">*</span></label>
                <input type="number" name="newmedicinestock" class="form-control" id="Username" value="{{ data.medicinestock }}">
            </div>

          </div>
          <div class="modal-footer pt-4">
            <button type="submit" class="btn btn-dark mx-auto w-50">Save</button>
          </div>
      </form>


{% block content %}
{% endblock %}
<script>
    $('.nav-item.dropdown').hover(function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(300);
}, function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(300);
});
</script>


<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
 </body>
</html>